.App {
  color: #282c34;
  width: 60%;
  margin: auto;
}
.myStyle {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #440381;
}
body{
  background-color: #51E5FF
}
.tiles{
  background-color: #EC368D;
}